#product img {
    width: 30%;
}
#title {
    margin: 30px 0;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
#product{
    padding: 20px 50px;
}
#product-inner{
    margin-bottom: 20px;
    margin-top: 20px;
}
#product-inner p{
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 20px;
    font-weight: bold;
}
#address{
    padding: 30px 50px;
}
#address p{
    margin-bottom: 20px;
}
form{
    padding: 30px 50px;
}
p{
    margin-left: 30px;
}