article img{
    width: 100%;
}
#title {
    margin-bottom:  10px;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
#not-found{
    text-align: center;
}

article{
  background-color: #e6e6e6;
  padding-bottom: 3%;
}
.category_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category_item {
  background-color: #fff;
  margin-top: 3%;
  width: 31%;
  position: relative;
}
.category_item .height {
  line-height: 1.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category_item .price {
  background-color: #111;
  border-radius: 75% 0 75% 0;
  color: #fff;
  position: absolute;
    top: 65%;
    left: 0;
  opacity: .35;
  padding: 3% 8% 3% 3%;
}
.category_item .method {
  background-color: #00bfff;
  border-radius: 0 0 0 20%;
  color: #fff;
  position: absolute;
    top: 0;
    right: 0;
  opacity: 0.75;
  padding: 3% 3% 3% 8%;
}
