article img{
    width: 100%;
}
#title {
    margin-bottom:  10px;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
#not-found{
    text-align: center;
    font-size: 2em;
}

article{
  background-color: #fff;
  padding-bottom: 3%;
}
.category_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category_item {
  background-color: #eee;
  margin-top: 3%;
  width: 32%;
  position: relative;
  border: solid 5px #eee;
}
.category_item .height {
  line-height: 1.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
}
.category_item .price {
  background-color: #ff7f50;
  border-radius: 50% 50% 50% 50%;
  color: #fff;
  position: absolute;
    bottom: 27px;
    left: 0;
  opacity: 0.9;
  padding: 5% 5% 5% 5%;
}
.category_item .method {
  background-color: #00bfff;
  border-radius: 0 0 0 25%;
  color: #fff;
  position: absolute;
    top: 0;
    right: 0;
  opacity: 0.9;
  padding: 5% 5% 5% 5%;
}
.category_item .method2 {
  background-color: #ff0040;
  border-radius: 0 0 0 25%;
  color: #fff;
  position: absolute;
    top: 0;
    right: 0;
  opacity: 0.9;
  padding: 5% 5% 5% 5%;
}

