.product {
    width: 40%;
}
#title {
    margin: 30px 0;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
#not-found{
    text-align: center;
}
.product img {
    width: 100%;
}

#search-detail-wrapper {
    display: flex;
    justify-content: center;
}

.dropdown {
    width: 40%;
    margin: 20px;
}

.dropdown button {
    width: 100%;
}

.dropdown-item{
    padding: 20px;
}

#modal {
    width: 40%;
    margin: 20px;
}

#modal button {
    width: 100%;
}

.modal {
    width: 80%;
    margin: auto;
}

.modal-content {
    padding: 30px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    width: 30%;
}

.modal-content img {
    width: 5%;
    margin-right: 3px;
    vertical-align: middle;
}

.modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-input {
    padding: 10px;
}

.price-input {
    width: 40%;
    padding: 10px;
}

article {
  background-color: #f6f6f6;
  padding-bottom: 3%;
}

.search_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search_item {
  background-color: #fff;
  margin-top: 3%;
  position: relative;
  width: 31%;
}

.search_item .height {
  line-height: 1.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search_item .price {
  background-color: #111;
  border-radius: 75% 0 75% 0;
  color: #fff;
  position: absolute;
    top: 65%;
    left: 0;
  opacity: .35;
  padding: 3% 8% 3% 3%;
}
.search_item .method {
  background-color: #00bfff;
  border-radius: 0 0 0 20%;
  color: #fff;
  position: absolute;
    top: 0;
    right: 0;
  opacity: 0.75;
  padding: 3% 3% 3% 8%;
}
